<div class="ui-g dashboard">
  <div class="ui-g-12">

    <div class="ui-g-12 ui-md-6">

        <p-fieldset legend="Bull" [toggleable]="true">
            <div class="card">
                <p-table
                  [columns]="cols" [value]="signals"
                  selectionMode="single" dataKey="id"
                  [(selection)]="selectedSignal"
                  [style]="{'margin-bottom':'20px'}">
                    <ng-template pTemplate="caption">
                        Recent Sales
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                          </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-fieldset>

        <p-fieldset legend="Bear" [toggleable]="true">
            <div class="card">
                <p-table
                  [columns]="cols" [value]="signals"
                  selectionMode="single" dataKey="id"
                  [(selection)]="selectedSignal"
                  [style]="{'margin-bottom':'20px'}">
                    <ng-template pTemplate="caption">
                        Recent Sales
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                          </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-fieldset>

    </div> <!--left signals -->


    <div class="ui-g-12 ui-md-6">
        <app-tv-chart-container ></app-tv-chart-container>
   </div> <!--righ chart -->

  </div>
</div> <!--dashboard -->



